<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    <script src="https://cdn.tailwindcss.com"></script>
    {% block stylesheets %}
    {% endblock %}
    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body class="min-h-screen bg-gray-100">
<!-- Barre de navigation -->
<nav class="sticky top-0 bg-white border-b border-gray-200 py-4 shadow-sm z-50">
    <div class="container mx-auto flex justify-between items-center">

        <ul class="hidden lg:flex space-x-6 text-sm font-medium text-gray-600">
            <li><a href="{{ path('homepage') }}" class="hover:text-gray-900 transition">Accueil</a></li>
            <li><a href="{{ path('app_user_manager') }}" class="hover:text-gray-900 transition">Manager</a></li>
            <li><a href="{{path('app_forum')}}" class="hover:text-gray-900 transition">Forums</a></li>
            <li><a href="{{path('app_profile')}}" class="hover:text-gray-900 transition">Profil</a></li>
        </ul>

        <div class="hidden lg:flex items-center space-x-4 text-sm text-gray-600">
            {% if app.user %}
                <span class="text-gray-700 text-sm font-medium mr-4">Bienvenue, {{ app.user.lastName }}</span>
                <a href="{{ path('app_logout') }}" class="text-white bg-red-500 hover:bg-red-600 px-3 py-2 rounded-md text-sm font-medium">Déconnexion</a>
            {% else %}
                <a href="{{ path('app_login') }}" class="text-gray-700 hover:bg-gray-100 px-3 py-2 rounded-md text-sm font-medium">Connexion</a>
                <a href="{{ path('app_register') }}" class="ml-4 text-white bg-blue-500 hover:bg-blue-600 px-3 py-2 rounded-md text-sm font-medium">Créer un compte</a>
            {% endif %}
        </div>
    </div>
</nav>


<!-- Contenu principal -->
<main class="pt-30">
    {% block body %}
    {% endblock %}
</main>

</body>
</html>
